<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Ember Starter Kit</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
   <%#= stylesheet_link_tag "normalize" %>
   <%#= stylesheet_link_tag "style" %>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
</head>
<body>

  <script type="text/x-handlebars">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">RosterReady</a>
            <ul class="nav">
                <li>{{#link-to 'paddlers'}}Paddlers{{/link-to}}</li>
                <li>{{#link-to 'about'}}About{{/link-to}}</li>
            </ul>
        </div>
    </div>

      {{outlet}}
  </script>

  <script type="text/x-handlebars" id="paddlers">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <table class='table'>
            <thead>
              <tr><th>Available Paddlers</th></tr>
            </thead>
            {{#each}}
            <tr><td>
              {{#link-to 'paddler' this}}
                {{firstName}} {{lastName}} <small class='muted'>({{gender}})</small>
              {{/link-to}}
            </td></tr>
            {{/each}}
          </table>
        </div>
        <div class="span9">
          {{outlet}}
        </div>
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" id="paddler">
    {{#if isEditing}}
      {{partial 'paddler/edit'}}
      <button {{action 'doneEditing'}}>Done</button>
    {{else}}
      <button {{action 'edit'}}>Edit</button>
    {{/if}}

    <h1>{{firstName}} {{lastName}}</h1>
    <h2><small class='muted'>{{gender}}, {{weight}}lbs</small></h2>
    <h2><small class='muted'>{{side}}</small></h2>
    <hr>

    <div class='intro'>
      {{excerpt}}
    </div>

    <div class='below-the-fold'>
      {{body}}
    </div>
  </script>

  <script type="text/x-handlebars" id="paddler/_edit">
      <p>{{input type="text" value=firstName}}</p>
      <p>{{input type="text" value=lastName}}</p>
      <p>{{input type="text" value=gender}}</p>
      <p>{{input type="text" value=weight}}</p>
      <p>{{input type="text" value=side}}</p>
  </script>

  <script type="text/x-handlebars" id="about">
    <div class='about'>
      <p>hello world</p>
    </div>

    <div class='about'>
      <p>hai world</p>
    </div>
  </script>


  <%= javascript_include_tag "jquery-1.9.1" %>
  <%= javascript_include_tag "handlebars-1.0.0" %>
  <%= javascript_include_tag "ember-1.0.0" %>
  <%= javascript_include_tag "app" %>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>


</body>
</html>