<!DOCTYPE html>
<html>
<head>
  <title>Amanda Li</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/messages' %>

  <div id="home" class="section">
    <h1>Amanda Li</h1>
    <h2>//developer with an appetite</h2>
    <ul id="menu">
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#social">Social</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>

<%= yield %>

</body>
</html>
