<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Amanda Li">
  <meta name="author" content="Amanda Li">

  <title>Amanda Li</title>

  <%= stylesheet_link_tag    "bootstrap" %>
  <%= stylesheet_link_tag    "bootstrap-theme" %>
  <%= stylesheet_link_tag    "home" %>
  <%= stylesheet_link_tag    "layout" %>
  <%#= stylesheet_link_tag    "normalize" %>
  <%#= stylesheet_link_tag    "style" %>

  <script>
     $(function() {
        $('.navbar-nav li').click(function() {
           $('.navbar-nav li').removeClass();
           $(this).addClass('active');
        });
     });
  </script>

  <%#= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <%= stylesheet_link_tag    "html5shiv" %>
      <%= stylesheet_link_tag    "respond.min" %>
    <![endif]-->
</head>
<body>

<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Amanda Li</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#social">Social</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<div class="container">

    <div id="home">
        <h1>Amanda Li</h1>
        <h2>//developer with an appetite</h2>
        <%= image_tag "amanda.jpg" %>
    </div>

    <%= yield %>

    <div id="footer">
      Photo taken by <a href="http://jamesransom.com/">James Ransom</a>
    </div>

</div>

<%= javascript_include_tag "jquery-1.9.1" %>
<%= javascript_include_tag "bootstrap" %>

</body>
</html>
